#lucifer_sdop_log_panel{position:absolute;right:-190px;top:-15px;width:300px;height:600px;overflow-y:scroll;background-color:#FCD;text-align:left;padding:5px;font:12px/1.5 tahoma,arial,'bitstream vera sans',helvetica,sans-serif;}
#lucifer_sdop_log_panel div{padding-top:3px;}
#contents{position:relative;width:1024px;}
